# Acceso a datos

## Extracción de datos

La **extracción de datos** es una etapa esencial en Ciencia de Datos, que proporciona al científico de datos el material necesario para la generación de conocimiento. En muchas ocasiones, esos datos se encontrarán en base de datos de clientes y tendremos que poder acceder a ellas y extraer los datos directamente de ellas. Hay muchos tipos de basos de datos, nosotros vamos a hacer solo la conexión a una base de datos relacional en MySql, una de las BDs mas utilizadas.

Existen por lo menos dos liberias principales que se suelen usar para el acceso a MySql. Por un lado tenemos mysql.connector librería oficial de Oracle y por otro lado PyMySql. Tanto mysql.connector como PyMySQL son populares librerías para interactuar con bases de datos MySQL en Python, pero tienen características y casos de uso diferentes:

* **mysql.connector**:
  *  Oficialidad: Es el conector oficial desarrollado y mantenido por Oracle para conectar aplicaciones Python a bases de datos MySQL.
  *  Soporte para MySQL 8.0: Totalmente compatible con las características de MySQL 8.0, incluyendo autenticación y mejoras de seguridad.
  * Tamaño de la librería: Es una librería más pesada, con mayor carga de dependencias debido a su naturaleza oficial.
* **Pymysql**:
  * Compatibilidad: PyMySQL es una librería escrita puramente en Python, lo que significa que no necesita compilación de binarios adicionales, lo que facilita la instalación en entornos más variados.
  * Ligero y fácil de instalar: Debido a que está completamente en Python, es fácil de instalar, sin necesidad de dependencias adicionales de C, a diferencia de otros conectores.

### Creación de Base de Datos Local
1. Instalar Mysql en el ordenador de forma local (Servidor y WorkBench): Descargar de la [página de oracle](https://www.oracle.com/mysql/technologies/mysql-enterprise-edition-downloads.html) el instalador mysql-installer-community-X.Y.Z.DD.msi
2. Crear conexión en la BD local instalada: creación paso a paso [web](https://www.siteground.es/tutoriales/php-mysql/mysql-workbench/)
3. Ejecutar en la nueva BD local el script de creación de BD /Datos/ScriptCreacionBDShop.sql
4. Seguir los pasos de la creación de datos de forma dinamica con la libreria Faker estableciendo los datos de vuestra BD local- Fichero de Apuntes 26.Faker.ipynb
3. Una vez habiendo creado y cargado los datos en la BD, ejecutar el script de Alter Tables /Datos/ScriptAltersBDShop.sql

## Librería MySQL Connector

###   Instalación de la libreria MySql Connector

In [1]:
%pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   --- ------------------------------------ 1.6/16.1 MB 9.3 MB/s eta 0:00:02
   ------- -------------------------------- 3.1/16.1 MB 8.8 MB/s eta 0:00:02
   ---------- ----------------------------- 4.2/16.1 MB 8.1 MB/s eta 0:00:02
   ------------ --------------------------- 5.0/16.1 MB 6.4 MB/s eta 0:00:02
   ------------- -------------------------- 5.5/16.1 MB 5.6 MB/s eta 0:00:02
   --------------- ------------------------ 6.0/16.1 MB 5.1 MB/s eta 0:00:02
   ---------------- ----------------------- 6.8/16.1 MB 4.7 MB/s eta 0:00:02
   ------------------ --------------------- 7.6/16.1 MB 4.5 MB/s eta 0:00:02
   -------------------- ------------------- 8.4/16.1 MB 4.4 MB/s eta 0:00:02
   ---------------------- ----------------- 9.2/16.1 MB 4.4 MB/s eta 0:00:02
   ------------------------- -------------- 10.2/16.1 MB 4.3 MB/s eta 0:00:02
   --------------------------- ------------ 11.0/16.1 MB 4.4 MB/s eta 0:00:02
   ------------------------------ --------- 12.1/16.1 MB 4.4 MB/s eta 0:00:01
   -------------------------------- ------- 13.1/16.1 MB 4.4 MB/s eta 0:00:01
   ----------------------------------- ---- 14.4/16.1 MB 4.5 MB/s eta 0:00:01
   -------------------------------------- - 15.5/16.1 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 4.6 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0
Note: you may need to restart the kernel to use updated packages.

### Conexión a una Base de Datos MySQL

Para conectarte a una base de datos MySQL desde Python, antes de nada tendremos que tener a nuestro alcance la información de conexión de esa Base de datos, ya sea desde local o a una DB de un serviror. Para ello utilizaremos la función mysql.connector.connect() para conectarnos al servidor MySQL. Los argumentos que son necesarios para que Python pueda establecer la conexión con la base de datos:
* **host**: Especifica el servidor donde se encuentra tu base de datos. En este caso es "localhost" porque el servidor está corriendo en tu propia máquina (local).
* **user**: Es el nombre de usuario con el que te autenticas. Generalmente es root en instalaciones locales.
* **password**: La contraseña asociada a la cuenta de usuario de MySQL.
* **database**: El nombre de la base de datos específica a la que te quieres conectar. Si no indicas una base de datos aquí, podrías conectarte al servidor MySQL, pero tendrías que seleccionar la base de datos más tarde.

In [2]:
%pip show mysql-connector-python

Name: mysql-connector-python
Version: 9.1.0
Summary: A self-contained Python driver for communicating with MySQL servers, using an API that is compliant with the Python Database API Specification v2.0 (PEP 249).
Home-page: https://dev.mysql.com/doc/connector-python/en/
Author: Oracle and/or its affiliates
Author-email:
License: GNU GPLv2 (with FOSS License Exception)
Location: C:\Users\icjardin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages
Requires:
Required-by:
Note: you may need to restart the kernel to use updated packages.

Importamos el conector de la base de datos con la que queramos conectar:

In [3]:
import mysql.connector
from mysql.connector import Error

In [10]:
try:
    conexion = None 

    # Crear la conexión
    conexion = mysql.connector.connect(
        host='127.0.0.1',  # Cambia esto por la dirección de tu servidor MySQL
        database='shop',  # Cambia esto por el nombre de tu base de datos
        user='admin',  # Cambia esto por tu usuario de MySQL
        password='Admin_2024'  # Cambia esto por tu contraseña de MySQL
    )

    if conexion.is_connected():
        print("Conexión exitosa a la base de datos")

except Error as e:
    print(f"Error al conectar a la base de datos: {e}")

finally:
    if conexion is not None and conexion.is_connected():
        conexion.close()
        print("Conexión cerrada")

Conexión exitosa a la base de datos
Conexión cerrada

### Ejecutar consultas
* SELECT: Para recuperar datos de la base de datos, puedes usar una consulta SELECT.
* INSERT: Para agregar nuevos registros a la base de datos, puedes usar una consulta INSERT.
* UPDATE: Para modificar registros existentes, puedes usar una consulta UPDATE.
* DELETE: Para eliminar registros de la base de datos, puedes usar una consulta DELETE

In [54]:
conexion = None 

try:
    # Crear la conexión
    conexion = mysql.connector.connect(
        host='127.0.0.1',  # Cambia esto por la dirección de tu servidor MySQL
        database='shop',  # Cambia esto por el nombre de tu base de datos
        user='admin',  # Cambia esto por tu usuario de MySQL
        password='Admin_2024'  # Cambia esto por tu contraseña de MySQL
    )

    if conexion.is_connected():
        print("Conexión exitosa a la base de datos")

    # Crear un cursor para ejecutar consultas
    cursor = conexion.cursor()
except Error as e:
    print(f"Error al conectar a la base de datos: {e}")

Conexión exitosa a la base de datos

#### SELECT

In [62]:
    # Ejecutar una consulta SELECT
    cursor.execute("SELECT * FROM shop.categories")

    # Recuperar los resultados
    resultados = cursor.fetchall()

    # Procesar los resultados
    for fila in resultados:
        print(fila)

INSERT:

In [40]:
    # Definir la consulta de inserción
    consulta_insert = "INSERT INTO shop.categories (category_id, name) VALUES (%s, %s)"
    datos = (3, 'valor3')  # Valores a insertar

    # Ejecutar la consulta
    cursor.execute(consulta_insert, datos)

    # Confirmar la transacción
    conexion.commit()
    print("Datos insertados correctamente")

Datos insertados correctamente

#### UPDATE:

In [23]:
    # Definir la consulta de actualización
    consulta_update = "UPDATE shop.categories SET category_id = %s WHERE name = %s"
    datos = (1, 'valor3')  # Nuevos valores y condición

    # Ejecutar la consulta
    cursor.execute(consulta_update, datos)

    # Confirmar la transacción
    conexion.commit()
    print("Datos actualizados correctamente")

Datos actualizados correctamente

#### DELETE:

In [61]:
    # Definir la consulta de eliminación
    consulta_delete = "DELETE FROM shop.categories WHERE category_id = %s"
    datos = (4,)  # Valor que se usará como condición

    # Ejecutar la consulta
    cursor.execute(consulta_delete, datos)

    # Confirmar la transacción
    conexion.commit()
    print("Datos eliminados correctamente")

Datos eliminados correctamente

#### Manejo de Errores
Es importante manejar errores que puedan surgir durante la ejecución de las consultas. Esto se puede hacer utilizando un bloque try-except. Asegúrate de incluir este manejo en cada consulta:

In [28]:
try:
    # Código para ejecutar consultas
    print("Código para ejecutar consultas")

except Error as e:
    print(f"Error al ejecutar la consulta: {e}")

Código para ejecutar consultas

#### Cerrar el cursor y la conexión
Después de ejecutar todas las consultas, **asegúrate de cerrar el cursor y la conexión para liberar recursos**:

In [29]:
try:
    # Código para ejecutar consultas
    print("Código para ejecutar consultas")
finally:
    if conexion.is_connected():
        cursor.close()  # Cerrar el cursor
        conexion.close()  # Cerrar la conexión
        print("Conexión cerrada")

Código para ejecutar consultas
Conexión cerrada

#### Ejemplo Completo

In [ ]:
import mysql.connector
from mysql.connector import Error

try:
    # Crear la conexión
    conexion = mysql.connector.connect(
        host='127.0.0.1',  # Cambia esto por la dirección de tu servidor MySQL
        database='shop',  # Cambia esto por el nombre de tu base de datos
        user='admin',  # Cambia esto por tu usuario de MySQL
        password='Admin_2024'  # Cambia esto por tu contraseña de MySQL
    )

    if conexion.is_connected():
        print("Conexión exitosa a la base de datos")

        cursor = conexion.cursor()

        # Ejecutar una consulta SELECT
        cursor.execute("SELECT * FROM shop.categories")
        resultados = cursor.fetchall()
        for fila in resultados:
            print(fila)

        # Ejecutar una consulta INSERT
        consulta_insert = "INSERT INTO shop.categories (category_id, name) VALUES (%s, %s)"
        datos_insert = (10, 'valor10')
        cursor.execute(consulta_insert, datos_insert)
        conexion.commit()
        print("Datos insertados correctamente")

        # Ejecutar una consulta UPDATE
        consulta_update = "UPDATE shop.categories SET name = %s WHERE category_id = %s"
        datos_update = ('valor2',10)
        cursor.execute(consulta_update, datos_update)
        conexion.commit()
        print("Datos actualizados correctamente")

        # Ejecutar una consulta DELETE
        consulta_delete = "DELETE FROM shop.categories WHERE category_id = %s"
        datos_delete = (10,)
        cursor.execute(consulta_delete, datos_delete)
        conexion.commit()
        print("Datos eliminados correctamente")

except Error as e:
    print(f"Error al conectar a la base de datos o ejecutar la consulta: {e}")

finally:
    if conexion.is_connected():
        cursor.close()
        conexion.close()
        print("Conexión cerrada")

### Conexión a una Base de Datos MySQL

Para conectarte a una base de datos MySQL desde Python, antes de nada tendremos que tener a nuestro alcance la información de conexión de esa Base de datos, ya sea desde local o a una DB de un serviror. Para ello utilizaremos la función mysql.connector.connect() para conectarnos al servidor MySQL. Los argumentos que son necesarios para que Python pueda establecer la conexión con la base de datos:
* **host**: Especifica el servidor donde se encuentra tu base de datos. En este caso es "localhost" porque el servidor está corriendo en tu propia máquina (local).
* **user**: Es el nombre de usuario con el que te autenticas. Generalmente es root en instalaciones locales.
* **password**: La contraseña asociada a la cuenta de usuario de MySQL.
* **database**: El nombre de la base de datos específica a la que te quieres conectar. Si no indicas una base de datos aquí, podrías conectarte al servidor MySQL, pero tendrías que seleccionar la base de datos más tarde.

###   Instalación de la libreria PyMySql
Si aún no tienes instalada la librería PyMySQL, instálala usando pip:

In [2]:
%pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\icjardin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

#### Conectar a la base de datos MySQL
Primero, creamos una conexión a la base de datos MySQL. Para ello, necesitarás la dirección del servidor, el usuario, la contraseña y el nombre de la base de datos.

In [3]:
import pymysql

# Parámetros de conexión
conexion = pymysql.connect(
    host='127.0.0.1',  # Cambia esto por la dirección de tu servidor MySQL
    database='shop',  # Cambia esto por el nombre de tu base de datos
    user='admin',  # Cambia esto por tu usuario de MySQL
    password='Admin_2024'  # Cambia esto por tu contraseña de MySQL
)

# Verificar si la conexión fue exitosa
if conexion:
    print("Conexión exitosa a la base de datos")

Conexión exitosa a la base de datos

#### Crear un cursor
Un cursor es un objeto que te permite ejecutar consultas SQL en la base de datos. Lo creamos a partir de la conexión establecida.

In [4]:
cursor = conexion.cursor()

#### Ejecutar una consulta (SELECT)
Para obtener datos de la base de datos, usamos una consulta SELECT.

In [7]:
# Consulta SQL para obtener datos
consulta = "SELECT * FROM shop.categories"

# Ejecutar la consulta
cursor.execute(consulta)

# Obtener todos los resultados de la consulta
resultados = cursor.fetchall()

# Imprimir los resultados
for fila in resultados:
    print(fila)

(1, 'Complementos baño')
(2, 'Fregaderos ')
(3, 'Grifos Baño y Cocina')
(4, 'Hidromasaje')
(5, 'Lavabos de diseño')
(6, 'Mamparas de ducha')
(7, 'Muebles de Baño')
(8, 'Platos de Ducha de Resina')
(9, 'Sanitarios Roca')
(10, 'WC Tapas , Asientos.')

#### Insertar datos (INSERT)
Para insertar nuevos registros en la base de datos, puedes usar una consulta INSERT INTO.

In [8]:
# Consulta SQL para insertar un nuevo producto
consulta_insertar = """
    INSERT INTO categories (category_id, name)
    VALUES (%s, %s)
"""

# Datos a insertar
datos = (11, "Cagtegoria nueva")

# Ejecutar la consulta
cursor.execute(consulta_insertar, datos)

# Confirmar la transacción (commit)
conexion.commit()

print("Datos insertados correctamente")

Datos insertados correctamente

#### Modificar datos (UPDATE)
Para actualizar o modificar registros existentes en la base de datos, utilizamos una consulta UPDATE.

In [9]:
# Consulta SQL para actualizar un producto
consulta_modificar = """
    UPDATE categories
    SET name = %s
    WHERE category_id = %s
"""

# Nuevos datos (precio y nombre del producto a actualizar)
nuevos_datos = ("Categoria nueva 2",11 )

# Ejecutar la consulta
cursor.execute(consulta_modificar, nuevos_datos)

# Confirmar la transacción (commit)
conexion.commit()

print("Datos actualizados correctamente")

Datos actualizados correctamente

#### Eliminar datos (DELETE)
Para eliminar registros, usamos una consulta DELETE.

In [10]:
# Consulta SQL para eliminar un producto
consulta_eliminar = """
    DELETE FROM categories
    WHERE category_id = %s
"""

# Nombre del producto a eliminar
producto_a_eliminar = (11,)

# Ejecutar la consulta
cursor.execute(consulta_eliminar, producto_a_eliminar)

# Confirmar la transacción (commit)
conexion.commit()

print("Producto eliminado correctamente")

Producto eliminado correctamente

#### Cerrar el cursor y la conexión
Una vez que hayas terminado de realizar todas tus operaciones con la base de datos, debes cerrar el cursor y la conexión.

In [11]:
# Cerrar el cursor
cursor.close()

# Cerrar la conexión
conexion.close()

print("Conexión cerrada")

Conexión cerrada

#### Ejemplo completo de código:

In [12]:
import pymysql

# Conexión a la base de datos
conexion = pymysql.connect(
    host='127.0.0.1',  # Cambia esto por la dirección de tu servidor MySQL
    database='shop',  # Cambia esto por el nombre de tu base de datos
    user='admin',  # Cambia esto por tu usuario de MySQL
    password='Admin_2024'  # Cambia esto por tu contraseña de MySQL
)

cursor = conexion.cursor()

# Ejemplo de SELECT
consulta = "SELECT * FROM shop.categories"
cursor.execute(consulta)
resultados = cursor.fetchall()
for fila in resultados:
    print(fila)

# Ejemplo de INSERT
consulta_insertar = "INSERT INTO categories (category_id, name) VALUES (%s, %s)"
datos = (11, "Cagtegoria nueva")
cursor.execute(consulta_insertar, datos)
conexion.commit()

# Ejemplo de UPDATE
consulta_modificar = "UPDATE categories SET name = %s WHERE category_id = %s"
nuevos_datos = ("Categoria nueva 2",11 )
cursor.execute(consulta_modificar, nuevos_datos)
conexion.commit()

# Ejemplo de DELETE
consulta_eliminar = "DELETE FROM categories WHERE category_id = %s"
producto_a_eliminar = (11,)
cursor.execute(consulta_eliminar, producto_a_eliminar)
conexion.commit()

# Cerrar cursor y conexión
cursor.close()
conexion.close()

(1, 'Complementos baño')
(2, 'Fregaderos ')
(3, 'Grifos Baño y Cocina')
(4, 'Hidromasaje')
(5, 'Lavabos de diseño')
(6, 'Mamparas de ducha')
(7, 'Muebles de Baño')
(8, 'Platos de Ducha de Resina')
(9, 'Sanitarios Roca')
(10, 'WC Tapas , Asientos.')

## De Query de BD relacional a DataFrame

Si tenemos conocimientos en el desarrollo de consultas SQL, la carga de datos a partir de una base de datos relacional a un Dataframe que podamnos utilizar para trabajar de manera más agil y rápida es un proceso sencillo. Se utiliza `pandas` principalmente junto con otras bibliotecas como `SQLAlchemy` o `PyMySQL`, que permiten la conexión a la base de datos. Luego, se pueden leer y escribir datos de manera eficiente entre la base de datos y un DataFrame de pandas, que es el formato de tabla en memoria de la librería.

#### Instalar Librería Pandas y SQLAlchemy

Lo primero que tendremos que hacer será inicializar la librería [`SQLAlchemy`](https://www.sqlalchemy.org/) con los datos de conexión a la base de datos que hemos desplegado. Esta librería nos proporciona una potente abstracción a la hora de acceder a una base de datos:

In [31]:
%pip install sqlalchemy pandas mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\icjardin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.0.36)
Requirement already satisfied: pandas in c:\users\icjardin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.3)
Requirement already satisfied: mysql-connector-python in c:\users\icjardin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (9.1.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\icjardin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\icjardin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\icjardin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\icjardin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\icjardin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\icjardin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\icjardin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from sqlalchemy import create_engine
import pandas as pd

#### Conectar a la base de datos MySQL con SQLAlchemy
`pandas` por sí sola no maneja la conexión directa a una base de datos `MySQL`, por lo que normalmente se utiliza `SQLAlchemy` como intermediario para establecer la conexión. SQLAlchemy crea un motor de base de datos que pandas puede utilizar.

In [3]:
# Parámetros de conexión
USER = "admin"
PASSWORD = "Admin_2024"
HOST = "127.0.0.1"
PORT = "3306"
DATABASE = "shop"

# Crear el motor de conexión y la cadena de conexión
engine = create_engine(f'mysql+pymysql://{USER}:{PASSWORD}@{HOST}/{DATABASE}')

# Comprobar si la conexión es exitosa
try:
    conexion = engine.connect()
    print("Conexión exitosa a la base de datos MySQL")
    conexion.close()
except Exception as e:
    print(f"Error al conectar a la base de datos: {e}")

Conexión exitosa a la base de datos MySQL

#### CONSULTAS

#### SELECT: Leer datos desde una base de datos con pandas
Una vez que la conexión se ha establecido, puedes ejecutar consultas SQL para leer datos de la base de datos y cargarlos en un DataFrame de pandas.

#### 1.Leer toda una tabla

In [4]:
# Leer la tabla completa 'productos' y cargarla en un DataFrame de pandas
df = pd.read_sql('SELECT * FROM categories', engine)

# Mostrar los primeros 5 registros del DataFrame
print(df.head())

   category_id                  name
0            1     Complementos baño
1            2           Fregaderos
2            3  Grifos Baño y Cocina
3            4           Hidromasaje
4            5     Lavabos de diseño

2. Leer una consulta con filtros
Puedes ejecutar consultas SQL más complejas y obtener solo un subconjunto de los datos:

In [5]:
# Leer productos cuyo precio es mayor a 50
df_filtros = pd.read_sql('SELECT * FROM categories WHERE category_id > 5', engine)

# Mostrar los primeros registros que cumplen con la condición
print(df_filtros.head())

   category_id                       name
0            6          Mamparas de ducha
1            7            Muebles de Baño
2            8  Platos de Ducha de Resina
3            9            Sanitarios Roca
4           10       WC Tapas , Asientos.

3. Esta base de datos también contiene una tabla `categories`, con información de las categorías que contiene cada producto. Podemos utilizar la tabla `categories` y `products` para conseguir un `DataFrame` un poco más elaborado, con el número de productos por categoría:

In [6]:
# Leer productos cuyo precio es mayor a 50
df_filtros = pd.read_sql('SELECT * FROM categories inner join products WHERE categories.category_id =products.category_id', engine)

# Mostrar los primeros registros que cumplen con la condición
print(df_filtros.head())

   category_id               name  product_id  category_id  provider_id  \
0            1  Complementos baño           7            1            8
1            1  Complementos baño          19            1            5
2            1  Complementos baño          22            1            2
3            1  Complementos baño          33            1            9
4            1  Complementos baño          37            1            9

                                                name  price
0                              Percha RUBI RU-03 PyP  28.00
1  BA7706 SOPORTE PAPEL/ESCOBILLA CROMO 20x20x72 cm.  60.50
2            BA9230 TOALLERO PIE CROMADO 30x20x81 cm  56.15
3              Portarrollos con Tapa BASIC BC-01 PyP   0.00
4                             Repisa NICK NI-02 PyP.   0.00

#### INSERT: Insertar datos en la base de datos con pandas
Si ya tienes un DataFrame en pandas, puedes escribir o insertar esos datos directamente en una tabla de MySQL. El método ´.to_sql´ tiene tres atributos que realizarán distintas acciones con los dataframes a insertar:
* `if_exists='replace'`: Esto indica que si la tabla categories ya existe en la base de datos, será reemplazada por los datos del DataFrame. Si prefieres solo añadir filas sin eliminar la tabla, puedes cambiarlo a `if_exists='append'`.
* `index=False`: Indica que no se añadirá la columna del índice del DataFrame a la tabla de la base de datos.

#### 1.Insertar un DataFrame en una tabla nueva: 
Supongamos que tienes un DataFrame llamado df_nuevo con nuevos datos que deseas insertar en una tabla llamada productos_nuevos. Debes indicar el atributo if_exists a `replace` si deseas reemplazar la tabla completa.

In [17]:
# Crear un DataFrame de ejemplo
df_nuevo = pd.DataFrame({
    'nombre': ['Producto A', 'Producto B'],
    'precio': [19.99, 29.99],
    'stock': [100, 150]
})
# Insertar el DataFrame en la tabla categorias (se crea si no existe)
df_nuevo.to_sql('productos_nuevos', engine, if_exists='replace', index=False)

print("Datos insertados en la base de datos")
print(df_nuevo)

Datos insertados en la base de datos
       nombre  precio  stock
0  Producto A   19.99    100
1  Producto B   29.99    150

#### 2. Añadir valores nuevos ana tabla existente (INSERT)
Para insertar datos en la base de datos, puedes utilizar el método `to_sql` de pandas. Sin embargo, ten en cuenta que este método está diseñado para insertar datos de un DataFrame:

In [28]:
# Crear un DataFrame con los datos a insertar
datos_nuevos = pd.DataFrame({
    'columna5': [5, 'valor5'],
    'columna6': [6, 'valor6']
})

# Insertar los datos en la tabla
datos_nuevos.to_sql('shop.categories', con=engine, if_exists='append', index=False)

2

`if_exists='append'`: Esto indica que los nuevos datos se agregarán a la tabla existente. Indica `fail` si no deseas realizar ninguna acción si la tabla ya existe.

#### UPDATE: Modificar datos en la base de datos con pandas
Para actualizar registros en la base de datos, no puedes usar pandas directamente. En su lugar, deberías usar **`SQLAlchemy`** para ejecutar una consulta:

In [13]:
from sqlalchemy import text

# Definir la consulta de actualización
consulta_update = text("UPDATE shop.categories SET name = :nuevo_valor WHERE category_id = :condicion")

# Ejecutar la consulta con un diccionario de parámetros. Se necesita un diccionari para las nuevas versiones de sqlalchemy
with engine.connect() as connection:
    transaction = connection.begin()  # Inicia la transacción
    connection.execute(consulta_update, {"nuevo_valor": "Categoria A", "condicion": 11})
    transaction.commit()  # Confirma la transacción

#### DELETE: Eliminar datos en la base de datos con pandas
De forma similar, puedes usar SQLAlchemy para eliminar registros:

In [16]:
# Definir la consulta de eliminación
consulta_delete = text("DELETE FROM shop.categories WHERE category_id = :valor_a_eliminar")

# Ejecutar la consulta
with engine.connect() as connection:
    transaction = connection.begin()  # Inicia la transacción
    connection.execute(consulta_delete, {"valor_a_eliminar": 12})
    transaction.commit()  # Confirma la transacción

#### Cerrar conexión
SQLAlchemy maneja las conexiones automáticamente, pero es una buena práctica cerrar el motor al final de tu script:

In [17]:
engine.dispose()