# LISTA 7 - OBTENCIÓN DE DATOS

## <ins>Ejercicios Obligatorios </ins>

## EJERCICIO 1

La base de datos shop tiene una tabla people con información sobre los clientes de la tienda ficticia. Escribe el código Python necesario para inicializar un DataFrame con el contenido de la tabla:

In [2]:
import pandas as pd
from faker import Faker
from datetime import datetime

fake = Faker(['es_ES'])

def build_people_dataset(number):

  people = {
    "person_id":[],
    "first_name":[],
    "last_name":[],
    "birth_date":[],
    "email":[],
    "phone":[],
    "username":[],
    "password":[],
    "job":[]
  }
  for i in range(1, number+1):
    people["person_id"].append(i)
    people["first_name"].append(fake.first_name())
    people["last_name"].append(fake.last_name())
    people["birth_date"].append(fake.date_between_dates(datetime(1960, 1, 1), datetime(2002, 6, 1)))
    people["email"].append(fake.email())
    people["phone"].append(fake.phone_number())
    people["username"].append(fake.user_name())
    people["password"].append(fake.sha256())
    people["job"].append(fake.job())
 

  return people

df = pd.DataFrame(build_people_dataset(10))
print(df)

   person_id  first_name last_name  birth_date                        email  \
0          1     Macaria    Segura  1996-04-08   vallejotatiana@example.net
1          2  Bienvenida    Fuster  1971-10-28      ana-sofia77@example.org
2          3        Rosa     Múñiz  1996-03-18  bermudezaurelio@example.org
3          4     Nazaret     Viana  1973-08-18          ugalvez@example.net
4          5     Antonio     Cueto  1981-10-31      riosruperto@example.com
5          6   Alejandra    Alemán  2002-05-12      amadomarcos@example.net
6          7       Dafne    Bayona  1962-05-29   florentinaprat@example.net
7          8       Dimas  Chamorro  1975-07-21     dionisioraya@example.com
8          9     Matilde    Múgica  1972-08-11         icanovas@example.net
9         10       Belen    Agustí  1998-01-25           dbello@example.org

              phone            username  \
0      +34972273985  eva-mariahernandez
1     +34 842102874        pliniomarmol
2   +34 944 077 750               oalba
3  +34 947 27 86 72           emmacarro
4     +34 965771335              qgomez
5   +34823 42 04 16       maximiliano09
6  +34 880 38 77 39          martirio32
7   +34946 71 91 70            lheredia
8   +34 717 424 158             aandres
9  +34 849 79 80 27        murojeronimo

                                            password  \
0  91e03fcc5f8f4a3fa44dbd882b8de37102a0559563a9dd...
1  ae6eb5f85e694c0330bea193a7db221e1c44348eaaf996...
2  736e037f57a79396b83a1d6328b26634eea66e182014f2...
3  f6776045483eb684208813d8a43002ecb09d323fd861a4...
4  8ddbcc4bff6c275a35d7e94d94a27e5695e8ba2a728b5e...
5  d4c64cb7bfa111509ed6056b25a7b66e77aa23a8d939c9...
6  ee9197abc291cf0dd229ef2d9f17e3ebea01df6bff4a35...
7  0ceeb2c30e63c53d1e6b617b2d52412baab86b4ff66367...
8  ca722e26e0d3246d18c3a8df534122455ef6f675fcded7...
9  cd60987daa53158abe9d926fd9d17407bcb37bc8db507a...

                                     job
0     Técnico en documentación sanitaria
1  Controlador de plagas y malas hierbas
2                             Cristalero
3                              Psicólogo
4         Oficial de las fuerzas armadas
5                 Comerciante de tiendas
6                               Dentista
7                       Camarero de mesa
8                   Inspector de policía
9                             Delineante

## EJERCICIO 2

La siguiente URL https://datosabiertos.carm.es/odata/Agricultura/IMIDA_dia_2018.csv contiene el informe meteorológico diario de las diferentes estaciones meteorológicas de la Región de Murcia a lo largo del año 2018. Observa el contenido del fichero csv y a continuación utiliza la función read_csv de pandas sobre esta URL con los  parámetros necesarios (header, sep, decimal, quotechar y encoding).

In [3]:
csv = pd.read_csv("https://datosabiertos.carm.es/odata/Agricultura/IMIDA_dia_2018.csv ", # URL de archivo csv
                      header=0, # La fila número 0 contiene el nombre de las columnas
                      sep=";", # Separador o delimitador de campos
                      decimal=".", # El punto separa la parte entera de la decimal de un número
                      quotechar="\"", # Las cadenas se encuentran encapsuladas entre comillas
                      encoding='latin-1',  # La codificación del fichero es UTF-8
)
csv

,FECHA,EST,MUNICIPIO,PARAJE,TMED,TMAX,TMIN,HRMED,HRMAX,HRMIN,PREC,RADMED,VVMED,VVMAX,DVMED,ETO
0,01/01/18,AL31,Totana,Lebor,"12,87","19,17","5,909","46,44","75,9","22,91",0,"124,03","2,05","6,821","249,66","2,23"
1,02/01/18,AL31,Totana,Lebor,"13,05","20,99","8,2","44,91","64,69","23,74",0,"122,8","1,69","8,9","272,61","2,24"
2,03/01/18,AL31,Totana,Lebor,"13,57","22,57","7,06","61,66",81,"37,48",0,"124,63","0,85","3,077","13,25","1,34"
3,04/01/18,AL31,Totana,Lebor,"14,52","23,84","8,14","63,91","88,6","33,87",0,"124,25","1,12","4,753","291,87","1,67"
4,05/01/18,AL31,Totana,Lebor,"10,36","17,7","4,565","77,86","99,9","44,64",0,"125,46","0,99","3,665","260,43","1,13"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17742,27/12/18,TP91,Torre Pacheco,Torre Pacheco,"10,76","16,03","7,39","88,28","99,35","65,07","0,2","93,96","0,74","3,626","266,05","0,79"
17743,28/12/18,TP91,Torre Pacheco,Torre Pacheco,"11,19","15,81","6,6","83,62","96,95","58,85",0,"93,32","0,66","3,724","320,25","0,8"
17744,29/12/18,TP91,Torre Pacheco,Torre Pacheco,"12,23","14,68","10,19","91,24",98,"73,23","9,2","35,73","1,35","5,978","15,21","0,81"
17745,30/12/18,TP91,Torre Pacheco,Torre Pacheco,"11,01","15,29","6,7","85,61","96,72","62,92","0,2","108,46","1,13","4,802","15,22","0,92"
17746,31/12/18,TP91,Torre Pacheco,Torre Pacheco,"9,32","18,85","3,73","74,97","96,87","34,89",0,"124,35","0,91","3,724","299,72","1,19"

## EJERCICIO 3

El Instituto de Salud Carlos III ofrece gratuitamente información actualizada sobre la situación del COVID-19 en España. En la siguiente URL podemos obtener un fichero csv actualizado con los casos positivos notificados por las Comunidades Autónomas a nivel provincial: https://cnecovid.isciii.es/covid19/resources/casos_diagnostico_provincia.csv. En el siguiente enlace se nos describe este conjunto de datos y se nos proporcionan otros conjuntos de datos de interés.

Utiliza el método read_csv con los parámetros adecuados para obtener el DataFrame con los casos positivos por provincia. Muestra a continuación su contenido:

In [4]:
csv = pd.read_csv("https://cnecovid.isciii.es/covid19/resources/casos_diagnostico_provincia.csv")

columnas = csv[['provincia_iso', 'num_casos']]
columnas

      provincia_iso  num_casos
0                 A          1
1                AB          0
2                AL          0
3                AV          0
4                 B          2
...             ...        ...
20718             V         85
20719            VA          0
20720            VI          0
20721             Z          0
20722            ZA          0

[20723 rows x 2 columns]

## EJERCICIO 4

La siguiente URL contiene información de películas estadounidenses obtenidas de la Wikipedia en formato JSON: https://raw.githubusercontent.com/prust/wikipedia-movie-data/master/movies.json. Utiliza el método `read_json` de `pandas` para cargar su contenido en un DataFrame:

In [5]:
json=pd.read_json("https://raw.githubusercontent.com/prust/wikipedia-movie-data/master/movies.json")
json

,title,year,cast,genres,href,extract,thumbnail,thumbnail_width,thumbnail_height
0,After Dark in Central Park,1900,[],[],None,NaN,NaN,NaN,NaN
1,Boarding School Girls' Pajama Parade,1900,[],[],None,NaN,NaN,NaN,NaN
2,Buffalo Bill's Wild West Parad,1900,[],[],None,NaN,NaN,NaN,NaN
3,Caught,1900,[],[],None,NaN,NaN,NaN,NaN
4,Clowns Spinning Hats,1900,[],[Silent],Clowns_Spinning_Hats,Clowns Spinning Hats is a black-and-white sile...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
36268,Aquaman and the Lost Kingdom,2023,"[Jason Momoa, Amber Heard, Willem Dafoe, Patri...",[Superhero],Aquaman_and_the_Lost_Kingdom,Aquaman and the Lost Kingdom is an upcoming Am...,https://upload.wikimedia.org/wikipedia/en/thum...,320.0,163.0
36269,Untitled Ghostbusters: Afterlife sequel,2023,"[Mckenna Grace, Carrie Coon, Finn Wolfhard, Pa...","[Comedy, Supernatural]",Untitled_Ghostbusters:_Afterlife_sequel,The untitled Ghostbusters: Afterlife sequel is...,NaN,NaN,NaN
36270,Rebel Moon,2023,"[Sofia Boutella, Charlie Hunnam, Ray Fisher, D...",[Science Fiction],Rebel_Moon,Rebel Moon is an upcoming American epic space ...,NaN,NaN,NaN
36271,Migration,2023,[],[],Migration_(2023_film),This is a list of productions produced by Illu...,NaN,NaN,NaN
36272,The Color Purple,2023,"[Fantasia Barrino, Colman Domingo, Corey Hawki...","[Drama, Musical, Historical]",The_Color_Purple_(2023_film),The Color Purple is an upcoming American music...,NaN,NaN,NaN

## EJERCICIO 5

Haciendo uso de la librería `requests` y `BeautifulSoup`, accede a la siguiente URL https://catalogoreina.com/859-grifos-cocina-roca y recupera el nombre de los artículos mostrados:

In [6]:
import requests
from bs4 import BeautifulSoup

URL = "https://catalogoreina.com/859-grifos-cocina-roca"
r = requests.get(URL)

html_soup = BeautifulSoup(r.text)
tags = html_soup.find_all(name='a', attrs={'class': 'product-name'})
for titulos in tags:
    print(titulos.get('title'))

Cala grifo de cocina negro mate caño giratorio Roca A5A846ENB0
CALA Grifo diseño para cocina con caño giratorio Roca A5A846EC00
CALA grifo monomando de cocina con caño giratorio en negro Roca A5A836ENB0
CALA Mezclador para cocina con caño giratorio Roca A5A856EC00
CALA Monomando de Cocina Roca A5A836EC00. Ofertas de grifos de cocina
CARMEN Bimando cocina A5A844BC00 Roca
Exclusivo CALA grifo para cocina Negro de Roca A5A856ENB0 calidad
GLERA diseño ergonómico monomando cocina moderno Roca A5A834DC00
GLERA Grifo fregadero extraíble diseño elegante para cocina A5A814DC00 Roca
GLERA Mezclador monomando para cocina con caño giratorio Roca A5A844DC00
GLERA Monomando para cocina con caño giratorio y ducha Roca A5A854DC00
GLERA Pro - Mezclador monomando para cocina con caño giratorio con muelle Roca A5A8A4DC00

## EJERCICIO 6

Haciendo uso de la librería `requests` y `BeautifulSoup`, accede a la página web del DB-Engines https://db-engines.com/en/ranking y recupera los nombres de las 10 bases de datos más populares:

PISTA: el selector CSS [`nth-child`](https://developer.mozilla.org/es/docs/Web/CSS/:nth-child) puede serte de utilidad.

OTRA PISTA: para evitar que salga el contenido de la etiqueta `info` junto al nombre de la base de datos, haz uso del método [`extract`](https://www.crummy.com/software/BeautifulSoup/bs4/doc/#extract).

In [7]:
import requests
from bs4 import BeautifulSoup

URL = "https://db-engines.com/en/ranking"
r = requests.get(URL)

html_soup = BeautifulSoup(r.text)
tabla=html_soup.select(".dbi tr th.pad-l a", limit=10)
for nombres in tabla:
    textCom=nombres.get_text()
    print(textCom.split("Detailed")[0])

Oracle
MySQL
Microsoft SQL Server
PostgreSQL
MongoDB
Redis
Snowflake
Elasticsearch
IBM Db2
SQLite

## EJERCICIO 7

Haciendo uso de la librería `requests` y `BeautifulSoup`, recupera el nombre, los acabados, las medidas y el plazo de entrega del siguiente artículo: https://catalogoreina.com/nuestras-marcas-muebles-bano/10233-mueble-bano-con-patas-althea-moderno-3-cajones.html

In [8]:
import requests
from bs4 import BeautifulSoup

URL = "https://catalogoreina.com/nuestras-marcas-muebles-bano/10233-mueble-bano-con-patas-althea-moderno-3-cajones.html"
r = requests.get(URL)
html_soup = BeautifulSoup(r.text)
nombre=html_soup.find(name='h1')
print(nombre.get_text())
acabMed = html_soup.select("#short_description_content p")
for i in range(len(acabMed) - 1):
    print(acabMed[i].text)

plazo = html_soup.select_one(".page-product-box .rte p:nth-child(3) span")
print(plazo.text)

... Muebles de baño ALTHEA de 3 cajones.
Acabados: Blanco Brillo, Antracita y Haya.
Medidas: 60 - 70 - 80 - 100  x 82 x 45 cm.
Plazo de entrega: De 12 a 18 días hábiles

## <ins>Ejercicios Opcionales </ins>

## EJERCICIO 8

Esta base de datos también contiene una tabla orders con información de la cabecera de los pedidos de la tienda. En esta tabla existe una columna price que almacena el importe total del pedido. Construye a continuación un DataFrame con las cabeceras de pedidos ordenada por importe de manera descendente:

## EJERCICIO 9

La base de datos también contiene las tablas web_pages y accesses con información de las páginas web de la empresa y de los accesos realizados a ellas respectivamente. Ambas tablas pueden relacionarse por el campo page_id. Inicializa un DataFrame que contenga los campos page_id y path de web_pages y el total de accesos realizado sobre cada una de ellas:

## EJERCICIO 10

Crea un diccionario Python que represente una factura en formato JSON:

* Contendrá 4 campos cuyos valores puedes inventarte, pero siguiendo las siguientes indicaciones:
  * **client_id**: identificador de cliente, de tipo cadena.
  * **products**: array con al menos dos productos de tipo objeto. Cada objeto tendrá dos campos:
    * **name**: de tipo cadena.
    * **price**: de tipo numérico.
  * **date**: de tipo cadena.
  * **address**: de tipo objeto, con los siguientes campos:
    * **street**: de tipo objeto, con los siguientes campos:
      * **name**: de tipo cadena.
      * **number**: de tipo numérico.
    * **zipcode**: de tipo numérico.

El diccionario tendrá que tener un formato tal que sea aceptado por el siguiente [validador](https://jsonlint.com/) de contenido JSON.

## EJERCICIO 11

Utilizando la librería PyPDF4, recupera el número de páginas del siguiente PDF:
```
PDF_URL = 'https://www.mscbs.gob.es/profesionales/saludPublica/ccayes/alertasActual/nCov/documentos/Actualizacion_278_COVID-19.pdf'
```

## EJERCICIO 12

Utilizando la librería PyPDF4, recupera la fecha de creación del documento (campo /CreationDate de los metadatos):

## EJERCICIO 13

Extrae la información del pdf en tablas y obten aquella que contiene los Detalles de los quince países con más casos confirmados fuera de Europa.

PISTA: esta tabla es la última del documento PDF. Utiliza la función len para obtener el total de tablas extraídas y saber cuál de ellas seleccionar.

## EJERCICIO 14

Mediante `read_excel`, carga el contenido de todas las hojas del fichero excel "Orders-With Nulls.xlsx", muestra el nombre de todas las hojas y muestra la hoja denominada `Summary`: