# LISTA 11 - PANDAS

## <ins>Ejercicios Obligatorios </ins>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import Series, DataFrame

## EJERCICIO 1

Crea un dataframe con 15 filas y 2 columnas. La primera columna se llamará x, la segunda y. Cada entrada será un número aleatorio (puedes usar random.normal() de la librería numpy). Guarda el dataframe en una variable llamada points.

In [25]:
x=np.random.normal(0,1, 15)
y=np.random.normal(3,2, 15)
points=pd.DataFrame({"x": x , "y": y})
points

           x         y
0  -0.990134  3.690169
1  -1.272249 -1.554756
2   1.431095  5.730546
3  -0.321205  5.236698
4  -0.466305  2.773882
5   0.140347 -1.334274
6   0.114418 -0.234065
7  -0.006393  2.010260
8   1.233704  2.045799
9  -0.927647  0.889702
10  0.503772  5.596227
11  0.668608  5.020926
12  0.313259  1.637177
13  1.236336 -1.009033
14 -0.742693  0.772350

## EJERCICIO 2

Del dataframe points, muestra las filas cuyo valor en la columna x sea positivo.

In [26]:
points[points.x >0]

           x         y
2   1.431095  5.730546
5   0.140347 -1.334274
6   0.114418 -0.234065
8   1.233704  2.045799
10  0.503772  5.596227
11  0.668608  5.020926
12  0.313259  1.637177
13  1.236336 -1.009033

## EJERCICIO 3

Del dataframe points, muestra las filas cuyo valor en la columna y sea negativo.

In [27]:
points[points.y <0]

           x         y
1  -1.272249 -1.554756
5   0.140347 -1.334274
6   0.114418 -0.234065
13  1.236336 -1.009033

## EJERCICIO 4

Del dataframe points, muestra las observaciones cuyos puntos (x, y) pertenezcan al primer cuadrante.

In [30]:
points[(points.x >0) & (points.y >0)]

           x         y
2   1.431095  5.730546
8   1.233704  2.045799
10  0.503772  5.596227
11  0.668608  5.020926
12  0.313259  1.637177

## EJERCICIO 5

Del dataframe points, muestra las observaciones de la forma: “El punto ({x}, {y}) {no/sí} pertenece al primer cuadrante”.

In [47]:
for i in points.itertuples():
    if(i.x>0 and i.y>0):
        print(f"El punto {i.x},{i.y} si pertenece al primer cuadrante")
    else:
        print(f"El punto {i.x},{i.y} no pertenece al primer cuadrante")

El punto -0.9901338139977002,3.690169195637959 no pertenece al primer cuadrante
El punto -1.2722494279484753,-1.5547558519983538 no pertenece al primer cuadrante
El punto 1.4310953581201702,5.730546398029972 si pertenece al primer cuadrante
El punto -0.32120473877806394,5.23669769004489 no pertenece al primer cuadrante
El punto -0.4663052229036779,2.7738819352033897 no pertenece al primer cuadrante
El punto 0.14034685717583212,-1.3342735702455437 no pertenece al primer cuadrante
El punto 0.11441820683223093,-0.23406472464408523 no pertenece al primer cuadrante
El punto -0.006393167833436503,2.010260300050811 no pertenece al primer cuadrante
El punto 1.2337042707854613,2.0457985793709907 si pertenece al primer cuadrante
El punto -0.927646586343226,0.8897022292395045 no pertenece al primer cuadrante
El punto 0.5037722339350904,5.596227221181676 si pertenece al primer cuadrante
El punto 0.6686078760096537,5.020926407271353 si pertenece al primer cuadrante
El punto 0.3132586493066934,1.6371772158222588 si pertenece al primer cuadrante
El punto 1.2363355706201011,-1.009033449533212 no pertenece al primer cuadrante
El punto -0.7426934528010004,0.7723498332316585 no pertenece al primer cuadrante

## EJERCICIO 6

Crea un dataframe con 10 filas y 4 columnas. La primera columna se llamará word; la segunda, length; la tercera, vowels; y la última, consonants. La columna words contendrá las siguientes 10 palabras: “euro”, “diez” “algas”, “broma”, “cicuta”, “fatiga”, “nachos”, “jadeos”, “hazañas”, “boutique”. Las columnas length, vowels y consonants contendrán, respectivamente, la longitud, el total de vocales y el total de consonantes (añade las columnas calculando su valor por código). Guarda el dataframe en la variable words.

In [53]:
palabras=["euro", "diez", "algas", "broma", "cicuta", "fatiga", "nachos", "jadeos", "hazañas", "boutique"]

def contar(palabra):
    vocales = 'aeiouáéíóú'
    num_vocales = sum(1 for char in palabra if char.lower() in vocales)
    num_consonantes = len(palabra) - num_vocales
    return num_vocales, num_consonantes

data=[]
for palabra in palabras:
    length = len(palabra)
    vowels, consonants = contar(palabra)
    data.append([palabra, length, vowels, consonants])

df_palabras=pd.DataFrame(data,columns=["word","length", "vowels","consonants"])
df_palabras

       word  length  vowels  consonants
0      euro       4       3           1
1      diez       4       2           2
2     algas       5       2           3
3     broma       5       2           3
4    cicuta       6       3           3
5    fatiga       6       3           3
6    nachos       6       2           4
7    jadeos       6       3           3
8   hazañas       7       3           4
9  boutique       8       5           3

## EJERCICIO 7

Muestra las 10 observaciones de words con el formato “La palabra {word} tiene {length} letras, de las cuales {vowels} son vocales y {consonants} consonantes”.

In [60]:
for i in df_palabras.itertuples():
    print(f"La palabra {i.word} tiene {i.length} letras, de las cuales {i.vowels} son vocales y {i.consonants}")

La palabra euro tiene 4 letras, de las cuales 3 son vocales y 1
La palabra diez tiene 4 letras, de las cuales 2 son vocales y 2
La palabra algas tiene 5 letras, de las cuales 2 son vocales y 3
La palabra broma tiene 5 letras, de las cuales 2 son vocales y 3
La palabra cicuta tiene 6 letras, de las cuales 3 son vocales y 3
La palabra fatiga tiene 6 letras, de las cuales 3 son vocales y 3
La palabra nachos tiene 6 letras, de las cuales 2 son vocales y 4
La palabra jadeos tiene 6 letras, de las cuales 3 son vocales y 3
La palabra hazañas tiene 7 letras, de las cuales 3 son vocales y 4
La palabra boutique tiene 8 letras, de las cuales 5 son vocales y 3

## EJERCICIO 8

Muestra aquellas observaciones de words que tienen el mismo número de vocales y consonantes.

In [62]:
df_palabras[ df_palabras.vowels == df_palabras.consonants]

     word  length  vowels  consonants
1    diez       4       2           2
4  cicuta       6       3           3
5  fatiga       6       3           3
7  jadeos       6       3           3

## EJERCICIO 9

El siguiente DataFrame contiene información de los pisos en alquiler en Murcia a fecha de 31/12/2020:
```
fotocasa_df = pd.read_csv("https://drive.google.com/uc?export=view&id=1DwvALe87aeDzTk7s6xGPDd6itJ65s4YE", index_col = 0)
```
Muestra el número de filas, columnas y valores que contiene el DataFrame cargado:

In [103]:
fotocasa_df = pd.read_csv("https://drive.google.com/uc?export=view&id=1DwvALe87aeDzTk7s6xGPDd6itJ65s4YE", index_col = 0)
print(f"valores:{fotocasa_df.size}")
print(f"filas:{len(fotocasa_df)}")
print(f"columnas:{len(fotocasa_df.columns)}")
fotocasa_df

valores:36403
filas:617
columnas:59

,Precio,Título,Descripción,Fotos,Dirección,Inmobiliaria,Anunciante,Habitaciones,Baños,Superficie,...,Serv. portería,Internet,Suite - con baño,Patio,Domótica,Pista de Tenis,Alarma,Mascotas,Energía Solar,Gimnasio
0,A consultar,Piso de alquiler en Centro,TRABAJADORES Y ESTUDIANTES ATENCION!!!! VIVIEN...,18 Fotos,Centro,True,DPTO. COMERCIAL PISOSMUR,<span><span>4</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>110</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,500 € /mes,Apartamento de alquiler en Centro,Maravilloso apartamento para entrar a vivir en...,21 Fotos,Centro,True,BREXTOM MURCIA,<span><span>1</span> hab.</span>,<span><span>1</span> baño</span>,<span><span>46</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,900 € /mes,Piso de alquiler en Doctor Marañón Centro,Se alquila estupenda vivienda recién reformada...,18 Fotos,Doctor Marañón Centro,True,ABAD SERVICIOS INMOBILIARIOS,<span><span>4</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>169</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,750 € /mes,Piso de alquiler en Centro,Te presentamos este fabuloso apartamento situa...,30 Fotos,Centro,True,ABAD SERVICIOS INMOBILIARIOS,<span><span>2</span> habs.</span>,<span><span>1</span> baño</span>,<span><span>77</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,800 € /mes,Piso de alquiler en Centro,Fantástica vivienda en alquiler ubicada muy pr...,28 Fotos,Centro,True,BREXTOM MURCIA,<span><span>3</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>104</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,NaN,Alquiler piso en barrio dEl Carmen en El Carme...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
613,NaN,Alquiler apartamento en plaza san nicolas en M...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
614,NaN,Alquiler apartamento exclusivo apto plaza flor...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615,NaN,Alquiler piso alquiler de local entresuelo en ...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616,NaN,"Alquiler piso en alquiler en edificio alba, sa...",NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## EJERCICIO 10

Recupera los cinco primeros pisos (filas)

In [79]:
fotocasa_df.head(5)

,Precio,Título,Descripción,Fotos,Dirección,Inmobiliaria,Anunciante,Habitaciones,Baños,Superficie,...,Serv. portería,Internet,Suite - con baño,Patio,Domótica,Pista de Tenis,Alarma,Mascotas,Energía Solar,Gimnasio
0,A consultar,Piso de alquiler en Centro,TRABAJADORES Y ESTUDIANTES ATENCION!!!! VIVIEN...,18 Fotos,Centro,True,DPTO. COMERCIAL PISOSMUR,<span><span>4</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>110</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,500 € /mes,Apartamento de alquiler en Centro,Maravilloso apartamento para entrar a vivir en...,21 Fotos,Centro,True,BREXTOM MURCIA,<span><span>1</span> hab.</span>,<span><span>1</span> baño</span>,<span><span>46</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,900 € /mes,Piso de alquiler en Doctor Marañón Centro,Se alquila estupenda vivienda recién reformada...,18 Fotos,Doctor Marañón Centro,True,ABAD SERVICIOS INMOBILIARIOS,<span><span>4</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>169</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,750 € /mes,Piso de alquiler en Centro,Te presentamos este fabuloso apartamento situa...,30 Fotos,Centro,True,ABAD SERVICIOS INMOBILIARIOS,<span><span>2</span> habs.</span>,<span><span>1</span> baño</span>,<span><span>77</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,800 € /mes,Piso de alquiler en Centro,Fantástica vivienda en alquiler ubicada muy pr...,28 Fotos,Centro,True,BREXTOM MURCIA,<span><span>3</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>104</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## EJERCICIO 11

Recupera los cinco últimos pisos:

In [80]:
fotocasa_df.tail(5)

,Precio,Título,Descripción,Fotos,Dirección,Inmobiliaria,Anunciante,Habitaciones,Baños,Superficie,...,Serv. portería,Internet,Suite - con baño,Patio,Domótica,Pista de Tenis,Alarma,Mascotas,Energía Solar,Gimnasio
612,NaN,Alquiler piso en barrio dEl Carmen en El Carme...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
613,NaN,Alquiler apartamento en plaza san nicolas en M...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
614,NaN,Alquiler apartamento exclusivo apto plaza flor...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615,NaN,Alquiler piso alquiler de local entresuelo en ...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616,NaN,"Alquiler piso en alquiler en edificio alba, sa...",NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Muestra los campos Inmobiliaria y Tipo de inmueble de los tres últimos pisos:

In [91]:
fotocasa_df[['Inmobiliaria','Tipo de inmueble']].tail(3)

     Inmobiliaria Tipo de inmueble
614          True              NaN
615          True              NaN
616          True              NaN

## EJERCICIO 12

Las columnas Domótica, Pista de Tenis, Alarma, Mascotas, Energía Solar y Gimnasio no contienen apenas valores definidos. Elimínalas del DataFrame y almacena el resultado en fotocasa1_df:

In [105]:

fotocasa1_df=fotocasa_df.drop(['Domótica','Pista de Tenis', 'Alarma', 'Mascotas', 'Energía Solar','Gimnasio'], axis=1)
fotocasa1_df

,Precio,Título,Descripción,Fotos,Dirección,Inmobiliaria,Anunciante,Habitaciones,Baños,Superficie,...,Z. Comunitaria,Piscina,TV,Zona Deportiva,Zona Infantil,Piscina comunitaria,Serv. portería,Internet,Suite - con baño,Patio
0,A consultar,Piso de alquiler en Centro,TRABAJADORES Y ESTUDIANTES ATENCION!!!! VIVIEN...,18 Fotos,Centro,True,DPTO. COMERCIAL PISOSMUR,<span><span>4</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>110</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,500 € /mes,Apartamento de alquiler en Centro,Maravilloso apartamento para entrar a vivir en...,21 Fotos,Centro,True,BREXTOM MURCIA,<span><span>1</span> hab.</span>,<span><span>1</span> baño</span>,<span><span>46</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,900 € /mes,Piso de alquiler en Doctor Marañón Centro,Se alquila estupenda vivienda recién reformada...,18 Fotos,Doctor Marañón Centro,True,ABAD SERVICIOS INMOBILIARIOS,<span><span>4</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>169</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,750 € /mes,Piso de alquiler en Centro,Te presentamos este fabuloso apartamento situa...,30 Fotos,Centro,True,ABAD SERVICIOS INMOBILIARIOS,<span><span>2</span> habs.</span>,<span><span>1</span> baño</span>,<span><span>77</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,800 € /mes,Piso de alquiler en Centro,Fantástica vivienda en alquiler ubicada muy pr...,28 Fotos,Centro,True,BREXTOM MURCIA,<span><span>3</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>104</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,NaN,Alquiler piso en barrio dEl Carmen en El Carme...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
613,NaN,Alquiler apartamento en plaza san nicolas en M...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
614,NaN,Alquiler apartamento exclusivo apto plaza flor...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615,NaN,Alquiler piso alquiler de local entresuelo en ...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616,NaN,"Alquiler piso en alquiler en edificio alba, sa...",NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## EJERCICIO 13

Renombra a continuación la columna Tipo de inmueble de fotocasa1_df por Tipo. Asigna el resultado a la variable fotocasa2_df:

In [108]:
fotocasa2_df=fotocasa1_df.rename(columns={'Tipo de inmueble' : 'Tipo'})
fotocasa2_df['Tipo']

0             Piso
1      Apartamento
2             Piso
3             Piso
4             Piso
          ...
612            NaN
613            NaN
614            NaN
615            NaN
616            NaN
Name: Tipo, Length: 617, dtype: object

## EJERCICIO 14

Elimina del DataFrame aquellos pisos que no tienen Precio o que su Precio sea "A consultar". Asigna el resultado a la variable fotocasa4_df:

PISTA: para seleccionar los alquileres sin precio utiliza el método isnull(). Utiliza notnull() para seleccionar los alquileres con precio..

In [121]:
fotocasa4_df=fotocasa_df[~((fotocasa_df.Precio.isnull()) | (fotocasa_df.Precio=="A consultar"))]
fotocasa4_df

,Precio,Título,Descripción,Fotos,Dirección,Inmobiliaria,Anunciante,Habitaciones,Baños,Superficie,...,Serv. portería,Internet,Suite - con baño,Patio,Domótica,Pista de Tenis,Alarma,Mascotas,Energía Solar,Gimnasio
1,500 € /mes,Apartamento de alquiler en Centro,Maravilloso apartamento para entrar a vivir en...,21 Fotos,Centro,True,BREXTOM MURCIA,<span><span>1</span> hab.</span>,<span><span>1</span> baño</span>,<span><span>46</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,900 € /mes,Piso de alquiler en Doctor Marañón Centro,Se alquila estupenda vivienda recién reformada...,18 Fotos,Doctor Marañón Centro,True,ABAD SERVICIOS INMOBILIARIOS,<span><span>4</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>169</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,750 € /mes,Piso de alquiler en Centro,Te presentamos este fabuloso apartamento situa...,30 Fotos,Centro,True,ABAD SERVICIOS INMOBILIARIOS,<span><span>2</span> habs.</span>,<span><span>1</span> baño</span>,<span><span>77</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,800 € /mes,Piso de alquiler en Centro,Fantástica vivienda en alquiler ubicada muy pr...,28 Fotos,Centro,True,BREXTOM MURCIA,<span><span>3</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>104</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,650 € /mes,Ático de alquiler en Calle Ángel Guirao Centro,MAGNIFICA UBICACION ATICO JUNTO AL TEATRO ROME...,9 Fotos,Calle Ángel Guirao Centro,True,DPTO. COMERCIAL PISOSMUR,<span><span>2</span> habs.</span>,<span><span>1</span> baño</span>,<span><span>80</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,600 € /mes,Piso de alquiler en Calle Jorge Guillén Juan C...,ATENCION ESTUDIANTES!!!! BARRIO DE VISTA ALEGR...,10 Fotos,Calle Jorge Guillén Juan Carlos I,True,DPTO. COMERCIAL PISOSMUR,<span><span>3</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>80</span> m²</span>,...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
590,800 € /mes,Piso de alquiler en Santa María de Gracia,ATENCIÓN ESTUDIANTES VIVIENDA JUNTO A LA PLAZA...,9 Fotos,Santa María de Gracia,True,DPTO. COMERCIAL PISOSMUR,<span><span>4</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>115</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
591,800 € /mes,Piso de alquiler en Santa María de Gracia,ATENCIÓN ESTUDIANTES MAGNIFICO PISOS EN SANTA ...,11 Fotos,Santa María de Gracia,True,DPTO. COMERCIAL PISOSMUR,<span><span>4</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>130</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
593,800 € /mes,Piso de alquiler en Calle Joselito Centro,ATENCIÓN ESTUDIANTES!!!!MAGNIFICA VIVIENDA JUN...,10 Fotos,Calle Joselito Centro,True,DPTO. COMERCIAL PISOSMUR,<span><span>4</span> habs.</span>,<span><span>2</span> baños</span>,<span><span>100</span> m²</span>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596,850 € /mes,Piso de alquiler en Centro,"ATENCIÓN ESTUDIANTES, MAGNIFICA VIVIENDA EN CA...",10 Fotos,Centro,True,DPTO. COMERCIAL PISOSMUR,<span><span>4</span> habs.</span>,<span><span>2</span> baños</span>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## EJERCICIO 15

Utiliza la función astype para convertir las columnas Tipo, Orientación, Estado y Parking a tipo categórico. Asigna los resultados a la variable fotocasa5_df y comprueba mediante el parámetro dtype que el tipo asignado sea correcto:

In [123]:
fotocasa5_df = fotocasa2_df.copy()  
fotocasa5_df["Tipo"] = fotocasa5_df["Tipo"].astype('category')
fotocasa5_df["Orientación"] = fotocasa5_df["Orientación"].astype('category')
fotocasa5_df["Estado"] = fotocasa5_df["Estado"].astype('category')
fotocasa5_df["Parking"] = fotocasa5_df["Parking"].astype('category')
print(fotocasa5_df.dtypes)

Precio                   object
Título                   object
Descripción              object
Fotos                    object
Dirección                object
Inmobiliaria               bool
Anunciante               object
Habitaciones             object
Baños                    object
Superficie               object
Tipo                   category
Ascensor                 object
Amueblado                object
Depósito                 object
Gastos de comunidad      object
Consumo energía          object
Emisiones                object
Aire acondicionado       object
Armarios                 object
Electrodomésticos        object
Horno                    object
Lavadora                 object
Microondas               object
Nevera                   object
Videoportero             object
Puerta Blindada          object
Lavadero                 object
Cocina Equipada          object
Enlace                   object
Planta                   object
Antigüedad               object
Calefacción              object
Terraza                  object
Balcón                   object
Orientación            category
Estado                 category
Parking                category
Gres Cerámica            object
Cocina Office            object
Trastero                 object
Agua caliente            object
Jardín Privado           object
Parquet                  object
Z. Comunitaria           object
Piscina                  object
TV                       object
Zona Deportiva           object
Zona Infantil            object
Piscina comunitaria      object
Serv. portería           object
Internet                 object
Suite - con baño         object
Patio                    object
dtype: object

## EJERCICIO 16

Cargar el fichero situado en https://raw.githubusercontent.com/ainaramu-icjardin/big_data/main/ciudades_ejemplo.csv
como un dataframe Pandas, y guardarlo a continuación en formato excel.

In [7]:
fichero = 'Apuntes Python-20240918/Datos/ciudades_ejemplo.csv'
df = pd.read_csv(fichero)   
df.to_excel('Apuntes Python-20240918/Datos/ciudades_ejemplo.xlsx')

## EJERCICIO 17

Cargar el fichero "https://raw.githubusercontent.com/ainaramu-icjardin/big_data/main/parocomunidades.csv" que está con codificación (encoding) "latin1" y dejarlo en un dataframe df_paro.

Mostrar solo las filas de `df_paro` que corresponden al Periodo 2019.

Mostrar solo las filas de df_paro que corresponden a un total mayor de 15.

Mostrar solo las filas que corresponden al Periodo 2019 y tienen Total mayor de 15.

In [18]:
fichero = 'Apuntes Python-20240918/Datos/parocomunidades.csv'
df_paro = pd.read_csv(fichero, encoding="latin1") 
df_paro[(df_paro.Periodo == 2019) & (df_paro.Total>=15)]

                Comunidad  Periodo  Total
0               Andalucía     2019  20.80
72               Canarias     2019  18.78
126  Castilla - La Mancha     2019  16.56
180           Extremadura     2019  23.48
234                Murcia     2019  16.08
306                 Ceuta     2019  27.58
324               Melilla     2019  26.81

## <ins>Ejercicios Opcionales </ins>

## EJERCICIO 18

Investiga el método .sort_values() para ordenar las observaciones según la longitud de las palabras en orden descendente.

## EJERCICIO 19

Convierte la columna vowels a lista y, con sorted() ordénala de mayor a menor. Investiga para ello el método .tolist().

## EJERCICIO 20

Recupera aquellos pisos que ocupan una posición múltiplo de 100:

## EJERCICIO 21

Muestra el piso que se encuentra en la posición 7:

## EJERCICIO 22

Muestra el piso cuyo índice vale 9:

## EJERCICIO 23

Muestra el campo Dirección de los tres primeros pisos. Utiliza para ello tanto el operador ```[]``` como ```[[]]```. ¿Qué diferencia encuentras?

## EJERCICIO 24

Muestra los campos Inmobiliaria y Tipo de inmueble de los tres últimos pisos:

## EJERCICIO 25

Muestra el valor del DataFrame contenido en la posición (2,2):

## EJERCICIO 26

Muestra el valor del DataFrame cuyo índice es 2 y cuya columna es Título:

## EJERCICIO 27

Muestra los tres primeros inmuebles de Tipo de inmueble = Apartamento:

## EJERCICIO 28

Muestra los dos primeros inmuebles de Tipo de inmueble = Piso y que no se alquilen por inmobiliaria (Inmobiliaria = False):

## EJERCICIO 29

Elimina del DataFrame contenido en fotocasa2_df los alquileres de la posición 597 y 598. Asigna el resultado a fotocasa3_df: